<div class="row">
    <div class="col-md-3" *ngFor="let product of products">
        <div class="card mb-3">
            <img title="Ver detalles" (click)="goTo('producto/' + product.id)" [src]="product.thumbnail"
                class="card-img-top" alt="Thumbnail">
            <div class="card-body">
                <h5 class="card-title">{{ product.brand }}</h5>
                <h4 class="card-text">{{ product.title }}</h4>
                <p class="card-text stars-ctn">
                    <ng-container *ngIf="product.rating; else noRating">
                        <ng-container *ngFor="let _ of getWholeStarArray(product.rating)">
                            <mat-icon class="stars">star</mat-icon>
                        </ng-container>
                        <mat-icon *ngIf="hasPartialStar(product.rating)" class="stars">star_half</mat-icon>
                    </ng-container>
                    <ng-template #noRating>
                        No hay valoración disponible.
                    </ng-template>
                </p>
                <p class="card-text"><small class="text-muted">{{ product.description }}</small></p>
                <h2 class="card-text">
                    <span>{{ product.price | currency }}</span>
                    <small class="tachado text-danger mx-1" *ngIf="product.discountPercentage > 0">
                        {{ product.price + (product.price * product.discountPercentage / 100) | currency }}
                    </small>
                </h2>
                <p class="card-text">Stock: {{ product.stock }}</p>
                <button class="btn btn-primary expanded mt-3" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="loadMore()">Ver más</button>
</div>