.card-img-top {
    height: 220px;
    width: auto;
    object-fit: cover;
}

.card {
    height: 500px;
    /* Establece la altura deseada para todas las cards */
    overflow-y: auto;
    /* Permite el desplazamiento vertical si el contenido excede la altura */
}

.card-title, .card-text {
    margin: 0;
}

.tachado {
    text-decoration: line-through;
    font-size: 14px;
}

.expanded {
    width: 100%;
}

.stars {
    color: #ffcc00;
    font-size: 14px;
    margin-right: -5px;
    padding: 0px;
}

.stars-ctn {
    margin-bottom: -12px;
}