.tachado {
    text-decoration: line-through;
    font-size: 14px;
}

.stars {
    color: #ffcc00;
    font-size: 22px;
    margin-top: 5px;
}

.card-title, .card-text {
    margin: 0;
}

.badge {
    font-weight: normal;
}